<h1>Schedule</h1>
<img src="../assets\Locations.jpg">
<table>
    <tr>
        <th>Days</th>
        <th>Time</th>
    </tr>
    <tr>
        <td>Monday-Thursday</td>
        <td>16:30-21:00</td>
    </tr>
    <tr>
        <td>Firday-Saturday</td>
        <td>16:30-22:00</td>
    </tr>
    <tr>
        <td>Sunday</td>
        <td>16:00-21:00</td>
    </tr>
</table>
<h1>Whats On?</h1>
<table>
    <tr>
        <th>Title</th>
        <th></th>
        <th>Time</th>
    </tr>
    <tr>
        <td>The House</td>
        <img src="../assets\TheHouse.jpg">
        <td>17:00</td>

    </tr>
    <tr>
        <td>The predator</td>
        <img src="../assets\ThePredator.jpg">
        <td>18:00</td>

    </tr>
</table>